<footer class="footer bg-white pa-69 text-black w-full border-t-4 border-[#fe6132]">
    <section class="shopee-footer-section">
        <h1 class="shopee-footer-section__heading">
            <span style="font-size: 14px"></span>
            <span style="font-family: Roboto, sans-serif">
                <span style="color: #000000">
                    <b>SHOPEE - GÌ CŨNG CÓ, MUA HẾT Ở SHOPEE</b>
                </span>
            </span>
        </h1>
        <p class="shopee-footer-section__content">
            <span style="font-size: 12px">
                <span style="font-family: Roboto, sans-serif">
                    <span style="color: #000000">
                        <span style="background-color: #ffffff"
                            >Shopee - ứng dụng mua sắm trực tuyến thú vị, tin cậy, an toàn và miễn
                            phí! Shopee là nền tảng giao dịch trực tuyến hàng đầu ở Đông Nam Á, có
                            trụ sở chính ở Singapore, đã có mặt ở khắp các khu vực&nbsp;
                        </span>
                    </span>
                </span>
                <u>
                    <b>
                        <u>Singapore</u>
                    </b>
                </u>
                ,&nbsp;<u>
                    <b>
                        <u>Malaysia</u>
                    </b>
                </u>
                ,&nbsp;<u>
                    <b>
                        <u>Indonesia</u>
                    </b>
                </u>
                ,&nbsp;<u>
                    <b>
                        <u>Thái Lan</u>
                    </b>
                </u>
                ,<b>&nbsp;</b>
                <u>
                    <b> <u>Philippines</u> </b>,
                </u>
                &nbsp;
                <u>
                    <b>
                        <u>Đài Loan</u>
                    </b>
                </u>
                ,
                <u>
                    <u>
                        <b>
                            <u>Brazil</u>
                        </b>
                    </u>
                </u>
                ,&nbsp;<b> <u>México</u> </b> ,&nbsp;<b> <u>Colombia</u> </b> ,&nbsp;<b>
                    <u>Chile</u>
                </b>
                ,&nbsp;<b> <u>Poland</u> </b> ,&nbsp;<b> <u>Spain</u> </b> ,&nbsp;<b>
                    <u>Argentina</u>
                </b>
                .&nbsp;&nbsp;
            </span>
            <span style="font-size: 12px">
                <span style="font-family: Roboto, sans-serif">
                    <span style="color: #000000">
                        <span style="background-color: #ffffff">
                            Với sự đảm bảo của Shopee, bạn sẽ mua hàng trực tuyến an tâm và nhanh
                            chóng hơn bao giờ hết!
                        </span>
                    </span>
                </span>
            </span>
        </p>
        <br />
        <h2 class="shopee-footer-section__heading">
            <span style="font-size: 12px">
                <span style="font-family: Roboto, sans-serif">
                    <span style="color: #000000">
                        <b>MUA SẮM VÀ BÁN HÀNG ONLINE ĐƠN GIẢN, NHANH CHÓNG VÀ AN TOÀN</b>
                    </span>
                </span>
            </span>
        </h2>
        <p class="shopee-footer-section__content">
            <span style="font-size: 12px">
                <span style="font-family: Roboto, sans-serif">
                    <span style="color: #000000"
                        >Nếu bạn đang tìm kiếm một trang web để mua và bán hàng trực tuyến thì
                        Shopee.vn là một sự lựa chọn tuyệt vời dành cho bạn. Bản chất của Shopee là
                        một social E-commerce platform - nền tảng trang web
                        <b>thương mại điện tử</b> tích hợp mạng xã hội. Điều này cho phép người mua
                        và người bán hàng dễ dàng tương tác, trao đổi thông tin về sản phẩm và
                        chương trình khuyến mãi của shop. Nhờ nền tảng đó, việc mua bán trên Shopee
                        trở nên nhanh chóng và đơn giản hơn. Bạn có thể trò chuyện trực tiếp với nhà
                        bán hàng để hỏi trực tiếp về mặt hàng cần mua. Còn nếu bạn muốn tìm mua
                        những dòng sản phẩm chính hãng, uy tín,
                    </span>
                </span>
                <u>
                    <a style="color: inherit" href="Index#">
                        <span style="font-family: Roboto, sans-serif">
                            <b>
                                <u>Shopee Mall</u>
                            </b>
                        </span>
                    </a>
                </u>
                <span style="font-family: Roboto, sans-serif">
                    <span style="color: #000000">
                        chính là sự lựa chọn lí tưởng dành cho bạn. Để bạn có thể dễ dàng khi tìm
                        hiểu và sử dụng sản phẩm,
                    </span>
                </span>
                <u>
                    <a style="color: inherit" href="Index/#">
                        <span style="font-family: Roboto, sans-serif">
                            <b>
                                <u>Shopee Blog</u>
                            </b>
                        </span>
                    </a>
                </u>
                <span style="font-family: Roboto, sans-serif">
                    <u>
                        <a style="color: inherit" href="Index/#">
                            - <b>trang blog thông tin chính thức của Shopee</b>
                        </a>
                    </u>
                    <span style="color: #000000">
                        - sẽ giúp bạn có thể tìm được cho mình các kiến thức về xu hướng thời trang,
                        review công nghệ, mẹo làm đẹp, tin tức tiêu dùng và deal giá tốt bất ngờ.
                    </span>
                </span>
            </span>
        </p>
        <br />
        <hr width="100%" />
        <br />
        <div class="middlefooter">
            <span style="font-size: 14px">
                <span style="font-family: sans-serif">
                    <span style="color: rgba(0, 0, 0, 0.54)">
                        <b>Danh Mục</b>
                    </span>
                </span>
            </span>
        </div>
        <br />
        <div class="footer bg-white text-black">
            <div>
                <span class="footer-title1">ÁO KHOÁC</span>
                <a class="link1 link-hover1">Branding</a>
                <a class="link1 link-hover1">Design</a>
                <a class="link1 link-hover1">Marketing</a>
                <a class="link1 link-hover1">Advertisement</a>
            </div>
            <div>
                <span class="footer-title1">ĐỒNG HỒ</span>
                <a class="link1 link-hover1">Branding</a>
                <a class="link1 link-hover1">Design</a>
                <a class="link1 link-hover1">Marketing</a>
                <a class="link1 link-hover1">Advertisement</a>
            </div>
            <div>
                <span class="footer-title1">ĐIỆN THOẠI</span>
                <a class="link1 link-hover1">Branding</a>
                <a class="link1 link-hover1">Design</a>
                <a class="link1 link-hover1">Marketing</a>
                <a class="link1 link-hover1">Advertisement</a>
            </div>
            <div>
                <span class="footer-title1">LAPTOP</span>
                <a class="link1 link-hover1">About us</a>
                <a class="link1 link-hover1">Contact</a>
                <a class="link1 link-hover1">Jobs</a>
                <a class="link1 link-hover1">Press kit</a>
            </div>
            <div>
                <span class="footer-title1">MÁY TÍNH BẢNG</span>
                <a class="link1 link-hover1">Terms of use</a>
                <a class="link1 link-hover1">Privacy policy</a>
                <a class="link1 link-hover1">Cookie policy</a>
            </div>
        </div>
        <br />
        <br />
        <hr width="100%" />
        <br />
        <div class="footer bg-white">
            <div>
                <h1 class="shopee-footer-section__heading">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: #000000">
                                <b>CHĂM SÓC KHÁCH HÀNG</b>
                            </span>
                        </span>
                    </span>
                </h1>
                <a class="link1 link-hover1">Branding</a>
                <a class="link1 link-hover1">Design</a>
                <a class="link1 link-hover1">Marketing</a>
                <a class="link1 link-hover1">Advertisement</a>
            </div>
            <div>
                <h1 class="shopee-footer-section__heading">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: #000000">
                                <b>VỀ SHOPPE</b>
                            </span>
                        </span>
                    </span>
                </h1>
                <a class="link1 link-hover1">Branding</a>
                <a class="link1 link-hover1">Design</a>
                <a class="link1 link-hover1">Marketing</a>
                <a class="link1 link-hover1">Advertisement</a>
            </div>
            <div>
                <h1 class="shopee-footer-section__heading">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: #000000">
                                <b>THANH TOÁN</b>
                            </span>
                        </span>
                    </span>
                </h1>
                <br />
                <div id="banner" style="overflow: hidden; justify-content: space-around">
                    <div
                        class=""
                        style="
                            display: inline-block;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            margin-bottom: 0.5rem;
                            margin-right: 0.5rem;
                        "
                    >
                        <img src="https://cf.shopee.vn/file/d4bbea4570b93bfd5fc652ca82a262a8" />
                    </div>
                    <div
                        class=""
                        style="
                            display: inline-block;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            margin-bottom: 0.5rem;
                            margin-right: 0.5rem;
                        "
                    >
                        <img src="https://cf.shopee.vn/file/a0a9062ebe19b45c1ae0506f16af5c16" />
                    </div>
                    <div
                        class=""
                        style="
                            display: inline-block;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            margin-bottom: 0.5rem;
                            margin-right: 0.5rem;
                        "
                    >
                        <img src="https://cf.shopee.vn/file/38fd98e55806c3b2e4535c4e4a6c4c08" />
                    </div>
                </div>
                <div id="banner" style="overflow: hidden; justify-content: space-around">
                    <div
                        class=""
                        style="
                            display: inline-block;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            margin-bottom: 0.5rem;
                            margin-right: 0.5rem;
                        "
                    >
                        <img src="https://cf.shopee.vn/file/bc2a874caeee705449c164be385b796c" />
                    </div>
                    <div
                        class=""
                        style="
                            display: inline-block;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            margin-bottom: 0.5rem;
                            margin-right: 0.5rem;
                        "
                    >
                        <img src="https://cf.shopee.vn/file/2c46b83d84111ddc32cfd3b5995d9281" />
                    </div>
                    <div
                        class=""
                        style="
                            display: inline-block;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            margin-bottom: 0.5rem;
                            margin-right: 0.5rem;
                        "
                    >
                        <img src="https://cf.shopee.vn/file/5e3f0bee86058637ff23cfdf2e14ca09" />
                    </div>
                </div>
                <div id="banner" style="overflow: hidden; justify-content: space-around">
                    <div
                        class=""
                        style="
                            display: inline-block;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            margin-bottom: 0.5rem;
                            margin-right: 0.5rem;
                        "
                    >
                        <img src="https://cf.shopee.vn/file/9263fa8c83628f5deff55e2a90758b06" />
                    </div>
                    <div
                        class=""
                        style="
                            display: inline-block;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            margin-bottom: 0.5rem;
                            margin-right: 0.5rem;
                        "
                    >
                        <img src="https://cf.shopee.vn/file/0217f1d345587aa0a300e69e2195c492" />
                    </div>
                    <br />
                    <br />
                    <h1 class="shopee-footer-section__heading">
                        <span style="font-size: 14px">
                            <span style="font-family: Roboto, sans-serif">
                                <span style="color: #000000">
                                    <b>ĐƠN VỊ VẬN CHUYỂN</b>
                                </span>
                            </span>
                        </span>
                    </h1>
                    <br />
                    <div id="banner" style="overflow: hidden; justify-content: space-around">
                        <div
                            class=""
                            style="
                                display: inline-block;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                margin-bottom: 0.5rem;
                                margin-right: 0.5rem;
                            "
                        >
                            <img src="https://cf.shopee.vn/file/5e7282bd0f7ee0872fdb0bd1d40fbe9e" />
                        </div>
                        <div
                            class=""
                            style="
                                display: inline-block;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                margin-bottom: 0.5rem;
                                margin-right: 0.5rem;
                            "
                        >
                            <img src="https://cf.shopee.vn/file/d10b0ec09f0322f9201a4f3daf378ed2" />
                        </div>
                        <div
                            class=""
                            style="
                                display: inline-block;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                margin-bottom: 0.5rem;
                                margin-right: 0.5rem;
                            "
                        >
                            <img src="https://cf.shopee.vn/file/77bf96a871418fbc21cc63dd39fb5f15" />
                        </div>
                    </div>
                    <div id="banner" style="overflow: hidden; justify-content: space-around">
                        <div
                            class=""
                            style="
                                display: inline-block;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                margin-bottom: 0.5rem;
                                margin-right: 0.5rem;
                            "
                        >
                            <img src="https://cf.shopee.vn/file/59270fb2f3fbb7cbc92fca3877edde3f" />
                        </div>
                        <div
                            class=""
                            style="
                                display: inline-block;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                margin-bottom: 0.5rem;
                                margin-right: 0.5rem;
                            "
                        >
                            <img src="https://cf.shopee.vn/file/957f4eec32b963115f952835c779cd2c" />
                        </div>
                        <div
                            class=""
                            style="
                                display: inline-block;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                margin-bottom: 0.5rem;
                                margin-right: 0.5rem;
                            "
                        >
                            <img src="https://cf.shopee.vn/file/0d349e22ca8d4337d11c9b134cf9fe63" />
                        </div>
                    </div>
                    <div id="banner" style="overflow: hidden; justify-content: space-around">
                        <div
                            class=""
                            style="
                                display: inline-block;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                margin-bottom: 0.5rem;
                                margin-right: 0.5rem;
                            "
                        >
                            <img src="https://cf.shopee.vn/file/3900aefbf52b1c180ba66e5ec91190e5" />
                        </div>
                        <div
                            class=""
                            style="
                                display: inline-block;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                margin-bottom: 0.5rem;
                                margin-right: 0.5rem;
                            "
                        >
                            <img src="https://cf.shopee.vn/file/6e3be504f08f88a15a28a9a447d94d3d" />
                        </div>
                        <div
                            class=""
                            style="
                                display: inline-block;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                margin-bottom: 0.5rem;
                                margin-right: 0.5rem;
                            "
                        >
                            <img src="https://cf.shopee.vn/file/b8348201b4611fc3315b82765d35fc63" />
                        </div>
                    </div>
                    <div id="banner" style="overflow: hidden; justify-content: space-around">
                        <div
                            class=""
                            style="
                                display: inline-block;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                margin-bottom: 0.5rem;
                                margin-right: 0.5rem;
                            "
                        >
                            <img src="https://cf.shopee.vn/file/864825c06b9f2c8c9334ebdeafa1f0fb" />
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h1 class="shopee-footer-section__heading">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: #000000">
                                <b>THEO DÕI CHÚNG TÔI TRÊN</b>
                            </span>
                        </span>
                    </span>
                </h1>
                <br />
                <ul class="flex gap-2">
                    <li class="">
                        <span>
                            <i class="fa-brands fa-facebook"> </i>
                            Facebook
                        </span>
                    </li>
                </ul>
                <ul class="flex gap-2">
                    <li class="">
                        <span>
                            <i class="fa-brands fa-instagram"> </i>
                            Instagram
                        </span>
                    </li>
                </ul>
                <ul class="flex gap-2">
                    <li class="">
                        <span>
                            <i class="fa-brands fa-linkedin"> </i>
                            Linkedin
                        </span>
                    </li>
                </ul>
            </div>
            <div>
                <h1 class="shopee-footer-section__heading">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: #000000">
                                <b>TẢI ỨNG DỤNG SHOPEE NGAY THÔI</b>
                            </span>
                        </span>
                    </span>
                </h1>
                <br />
                <div id="banner" style="overflow: hidden; justify-content: space-around">
                    <div
                        class=""
                        style="
                            display: inline-block;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            margin-bottom: 0.5rem;
                            margin-right: 0.5rem;
                        "
                    >
                        <img src="https://cf.shopee.vn/file/a5e589e8e118e937dc660f224b9a1472" />
                    </div>
                    <div
                        class="W4jGm6"
                        style="
                            display: inline-block;
                            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            margin-bottom: 0.5rem;
                            margin-right: 0.5rem;
                            margin-top: 0.5rem;
                            padding: 0.25rem;
                        "
                    >
                        <img
                            class="W4jGm6"
                            style="display: flex; padding: 0.25rem"
                            src="https://cf.shopee.vn/file/ad01628e90ddf248076685f73497c163"
                        />
                        <img
                            class="W4jGm6"
                            style="display: flex; padding: 0.25rem"
                            src="https://cf.shopee.vn/file/ae7dced05f7243d0f3171f786e123def"
                        />
                        <img
                            class="W4jGm6"
                            style="display: flex; padding: 0.25rem"
                            src="https://cf.shopee.vn/file/35352374f39bdd03b25e7b83542b2cb0"
                        />
                    </div>
                </div>
            </div>
        </div>
        <hr width="100%" />
        <br />
        <div class="footer bg-white">
            <div>
                <h1 class="shopee-footer-section__heading">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: rgba(0, 0, 0, 0.54)">
                                © 2022 Shopee. Tất cả các quyền được bảo lưu.
                            </span>
                        </span>
                    </span>
                </h1>
            </div>
            <div>
                <h1 class="shopee-footer-section__heading">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: rgba(0, 0, 0, 0.54)"
                                >Quốc gia & Khu vực: Singapore | Indonesia | Đài Loan | Thái Lan |
                                Malaysia | Việt Nam | Philippines | Brazil | México | Colombia |
                                Chile | Poland
                            </span>
                        </span>
                    </span>
                </h1>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="footer bg-grey12">
            <div>
                <h1 class="">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: rgba(0, 0, 0, 0.54)">
                                <span style="padding-left: 15rem">CHÍNH SÁCH BẢO MẬT</span>
                            </span>
                        </span>
                    </span>
                </h1>
            </div>
            <div>
                <h1 class="shopee-footer-section__heading footer bg-grey12">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: rgba(0, 0, 0, 0.54)">QUY CHẾ HOẠT ĐỘNG</span>
                        </span>
                    </span>
                </h1>
            </div>
            <div>
                <h1 class="shopee-footer-section__heading footer bg-grey12">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: rgba(0, 0, 0, 0.54)">CHÍNH SÁCH VẬN CHUYỂN</span>
                        </span>
                    </span>
                </h1>
            </div>
            <div>
                <h1 class="shopee-footer-section__heading footer bg-grey12">
                    <span style="font-size: 14px">
                        <span style="font-family: Roboto, sans-serif">
                            <span style="color: rgba(0, 0, 0, 0.54)">
                                <span style="padding-right: 15rem">
                                    CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN
                                </span>
                            </span>
                        </span>
                    </span>
                </h1>
            </div>
        </div>
    </section>
</footer>
