<header class="fixed z-50 h-28 w-screen bg-gradient-to-b from-[#f63f2d] to-[#fe6333] text-white">
    <div class="m-auto flex h-full max-w-screen-xl flex-col py-2 px-1">
        <nav id="top-nav" class="flex justify-between text-sm">
            <div id="top-left">
                <ul class="flex gap-2">
                    <li><a href="#" class="hover:text-[#fbc797]"> Kênh Người Bán </a></li>
                    <li class="border-l-2 border-gray-300/60 pl-2">
                        <a href="#" class="hover:text-[#fbc797]"> Trở thành Người bán Shopee </a>
                    </li>
                    <li class="border-l-2 border-gray-300/60 pl-2">
                        <a href="#" class="hover:text-[#fbc797]"> Tải ứng dụng </a>
                    </li>
                    <li class="border-l-2 border-gray-300/60 pl-2">
                        <span>
                            Kết nối
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <div id="top-right">
                <ul class="flex gap-5">
                    <li>
                        <a href="#" class="hover:text-[#fbc797]"> <i class="fa-regular fa-bell"></i> Thông báo </a>
                    </li>
                    <li>
                        <a href="#" class="hover:text-[#fbc797]"> <i class="fa-regular fa-circle-question"></i> Hỗ trợ </a>
                    </li>
                    <li>
                        <div class="dropdown-hover group dropdown">
                            <label tabindex="0" class="cursor-pointer py-2 group-hover:text-[#fbc797]">
                                <i class="fa-solid fa-globe"></i> Tiếng Việt
                                <i class="fa-solid fa-chevron-down transition-transform group-hover:-rotate-180"></i>
                            </label>
                            <ul tabindex="0"
                                class="dropdown-content menu rounded-box mt-2 w-36 border border-black bg-white text-black shadow">
                                <li><a>Tiếng Việt</a></li>
                                <li><a>Tiếng Anh</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="flex gap-2">
                            @Html.ActionLink("Đăng Kí", "Register", "Account")
                            @Html.ActionLink("Đăng Nhập", "Login", "Account", null, new { @class = "border-l-[1px] border-gray-300/60 pl-2" })
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <nav id="bottom-nav" class="flex h-full gap-5">
            <a href="/" class="flex h-full items-center justify-center text-4xl">Shopee</a>
            <div id="right" class="flex h-full w-full items-center justify-between">
                <div class="w-11/12 rounded-md border-2 border-transparent p-1 focus-within:border-black">
                    <div class="flex w-full gap-2 rounded-sm bg-white p-1 pl-4">
                        <input type="text" class="w-full text-black focus:outline-none" placeholder="Type something to search" />
                        <button class="rounded-sm bg-[#fb5533] py-1 px-5">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>

                <button class="btn btn-ghost">
                    <i class="fa-solid fa-cart-shopping text-xl"></i>
                </button>
            </div>
        </nav>
    </div>
</header>